<h2>Registrations for <%=@event.title%></h2>
<p>
  <div class="btn-group">
    <%=link_to "Add a Registration", new_admin_event_event_registration_path(@event), :class => "btn btn-default"%>
    <%=link_to "Email all registrants", "#", :class => "btn btn-default"%>
    <%=link_to "Download to CSV", admin_event_event_registrations_path(@event, :format => :csv), :class => "btn btn-default"%>
  </div>
</p>
<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <th>User</th>
    <th>Created on</th>
    <th>Notes</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <%@registrations.each do |r|%>
    <tr>
      <td><%=r.name%></td>
      <td><%=l r.created_at%></td>
      <td><%=r.note%></td>
      <td>
        <div class="btn-group">
          <%=link_to "Unregister", admin_event_event_registration_path(@event, r), :class => "btn btn-sm btn-danger",
                      :confirm => "Are you certain you want to do this?", :method => :delete%>
        </div>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
