<% active ||= :information %>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="<%=active_event_tab(:information, active)%>">
    <%= link_to @event.id ? wizard_path(:information) : '#', "aria-controls"=>"home", "role"=>"tab" do %>
      <%=check_required(@event.title.present? && @event.description.present? && @event.start_date.present? && @event.end_date.present?) %>

      Event Information
    <% end %>
  </li>
  <li role="presentation" class="<%=active_event_tab(:registration, active)%>">
    <%= link_to @event.id ? wizard_path(:registration) : '#', "aria-controls"=>"home", "role"=>"tab" do %>
      <%=check_required(@event.registration_end_dt.present? && @event.registration_maximum.present?) %>

      Registration
    <% end %>
  </li>
  <li role="presentation" class="<%=active_event_tab(:ideas, active)%>">
    <%= link_to @event.id ? wizard_path(:ideas) : '#', "aria-controls"=>"home", "role"=>"tab" do %>
      <%=check_required((!@event.voting_enabled || @event.voting_end_date.present?) && (!@event.volunteering_enabled || @event.volunteer_end_date.present?)) %>

      Ideas
    <% end %>
  </li>
  <li role="presentation" class="<%=active_event_tab(:schedule, active)%>">
    <%= link_to @event.id ? wizard_path(:schedule) : '#', "aria-controls"=>"home", "role"=>"tab" do %>
      <%=check_required(@event.schedule.present?) %>

      Schedule
    <% end %>
  </li>
  <li role="presentation" class="<%=active_event_tab(:logos, active)%>">
    <%= link_to @event.id ? wizard_path(:logo) : '#', "aria-controls"=>"home", "role"=>"tab" do %>
      <%=check_optional(@event.event_logo?) %>

      Logo
    <% end %>

  </li>
  <li role="presentation" class="<%=active_event_tab(:customizations, active)%>">
    <%= link_to @event.id ? wizard_path(:customizations) : '#', "aria-controls"=>"home", "role"=>"tab" do %>
      <%=check_optional(@event.customized?) %>

      Customizations
    <% end %>

  </li>
    <li role="presentation" class="<%=active_event_tab(:settings, active)%>">
    <%= link_to @event.id ? wizard_path(:settings) : '#', "aria-controls"=>"home", "role"=>"tab" do %>
      <%=check_optional(false) %>

      Settings
    <% end %>

  </li>
  <li role="presentation" class="<%=active_event_tab(:publish, active)%>">
    <%= link_to @event.id ? wizard_path(:publish) : '#', "aria-controls"=>"home", "role"=>"tab" do %>
      <%=check_required(@event.id ? Event.find(@event.id).live : false) %>

      Publish
    <% end %>
  </li>
</ul>
