<%= render partial: "admin/builder/nav", locals: { active: :information } %>

<h2>Event Information</h2>

<%=semantic_form_for @event, url: wizard_path, method: :put do |f|%>
  <%= f.inputs do %>
    <%=f.input :title%>
    <%=f.input :description%>
    <%=f.input :input_start_date, as: "string", :input_html => {"data-behaviour" => "datepicker"}%>
    <%=f.input :input_end_date, as: "string", :input_html => {"data-behaviour" => "datepicker"}%>
  <% end %>
  <%=f.submit :class => "btn btn-primary"%> or   
  <%=link_to next_wizard_path, class: "btn btn-primary" do%>
    <i class="fa fa-arrow-circle-right"></i> Continue
  <% end %>
  <script type="text/javascript">
    $('textarea').each(function( index ) {
      $(this).wysihtml5();
    });

  $('[data-behaviour~=datepicker]').datetimepicker({
    format:'Y-m-d H:i'
  });

  </script>
<%end%>
