<%= render partial: "admin/builder/nav", locals: { active: :publish } %>

<h2>Publish</h2>
<p>Are you ready for your event to be live? Until you publish, this event can only be seen by admins and is not available on the website.</p>

<%=semantic_form_for @event, url: wizard_path, method: :put do |f|%>
  <%= f.inputs do %>
    <%=f.input :live, label: "Publish?" %>
  <% end %>
  <%=f.submit :class => "btn btn-primary"%> or <%=link_to "Cancel", admin_events_path, :class => "btn btn-link"%>
<%end%>
