<%= render partial: "admin/builder/nav", locals: { active: :registration } %>

<h2>Registration</h2>
<p>Please provide us some information about registration for your event.</p>

<%=semantic_form_for @event, url: wizard_path, method: :put do |f|%>
  <%= f.inputs do %>
    <%=f.input :registration_end_dt, label: "Registration End Date", as: "string", :input_html => {"data-behaviour" => "datepicker"}%>
    <%=f.input :registration_maximum, label: "Maximum Number of Registrants" %>
  <% end %>
  <%=f.submit :class => "btn btn-primary"%> or
  <%=link_to next_wizard_path, class: "btn btn-primary" do%>
    <i class="fa fa-arrow-circle-right"></i> Continue
  <% end %>

  <script type="text/javascript">
    $('textarea').each(function( index ) {
      $(this).wysihtml5();
    });
  </script>
<%end%>
<script>
$('[data-behaviour~=datepicker]').datetimepicker({
  format:'Y-m-d H:i'
});
</script>
