<%= render partial: "admin/builder/nav", locals: { active: :schedule } %>

<h2>Schedule</h2>
<p>If you have details about the day(s) of the event, provide them here. It will appear on the event page.</p>

<%=semantic_form_for @event, url: wizard_path, method: :put do |f|%>
  <%= f.inputs do %>
    <%=f.input :schedule%>
  <% end %>
  <%=f.submit :class => "btn btn-primary"%> or
  <%=link_to next_wizard_path, class: "btn btn-primary" do%>
    <i class="fa fa-arrow-circle-right"></i> Continue
  <% end %>

  <script type="text/javascript">
    $('textarea').each(function( index ) {
      $(this).wysihtml5();
    });
  </script>
<%end%>
