<h1>Events</h1>
<p><%=link_to "Back to Admin", admin_root_path%></p>
<p><%=link_to "Create an event", new_admin_event_path, :class => "btn btn-success"%></p>
<%if @events.blank? then%>
  <p>You have not created any events yet.</p>
<%else%>
  <%@events.each do |e|%>
  <h3><%=link_to e.title, admin_event_path(e)%></h3>
  <p><%=truncate strip_tags(e.description), :length => 100%></p>
  <p>
    <%=link_to "Edit", edit_admin_event_path(e), :class => "btn btn-sm btn-default" %>
    <%=link_to "Delete", admin_event_path(e), :method => :delete, :class => "btn btn-sm btn-danger", :confirm => "Are you sure? This cannot be undone and will delete all related event projects, voting, etc." %></p>
  <hr />
  <%end%>
<%end%>