<p>
  Event Information - 
  <%=link_to "Registration", '#'%> - 
  <%=link_to "Ideas", '#'%> - 
  <%=link_to "Schedule", '#'%> - 
  <%=link_to "Invitations", '#'%> - 
  <%=link_to "Publish", '#'%>
</p>
<h2>Event Information</h2>
<p>Tell us what you want to call your event, and give us as much or as little as you can for a description. The title will appear on all event pages and navigation. Also provide a start date and end date for your event.</p>

<%=semantic_form_for @event, url: admin_events_path, method: :post do |f|%>
  <%= f.inputs do %>
    <%=f.input :title%>
    <%=f.input :description%>
    <%if @event.event_logo? %>
      <%=f.label :remove_current_logo%>
      <%=f.check_box :remove_event_logo %>
      <%=image_tag @event.event_logo_url%>
      <br />
    <%end%>

    <%=f.input :start_date, as: "string", :input_html => {"data-behaviour" => "datepicker"}%>
    <%=f.input :end_date, as: "string", :input_html => {"data-behaviour" => "datepicker"}%>
  <% end %>
  <%=f.submit :class => "btn btn-primary"%> or <%=link_to "Cancel", admin_events_path, :class => "btn btn-link"%>

  <script type="text/javascript">
    $('textarea').each(function( index ) {
      $(this).wysihtml5();
    });

  $('[data-behaviour~=datepicker]').datetimepicker({
    format:'Y-m-d H:i'
  });

  </script>
<%end%>
