<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<h2>Event <%=@event.title%></h2>
<p><%=link_to "Back to Events", admin_events_path%></p>
<% if @event.event_logo_url %><p><%=image_tag @event.event_logo_url.to_s%></p><%end%>
<p><%=sanitize @event.description%></p>
<div class="row">
  <div class="col-sm-6">
    <%=link_to admin_event_event_registrations_path(@event) do%>
      <h1><%=@event.registrations.count%></h1> registrants
    <%end%>
    <div id="registrations_chart"></div>
  </div>
  <div class="col-sm-6">
    <%=link_to admin_event_projects_path(@event) do%>
      <h1><%=@event.projects.count%></h1> projects
    <%end%>
    <div id="projects_chart"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h1><%=@event.vote_count%></h1> votes
    <div id="ratings_chart"></div>
  </div>
  <div class="col-sm-6">
    <h1><%=@event.volunteer_count%></h1> volunteers
    <div id="volunteers_chart"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%=link_to admin_event_event_moderators_path(@event) do%>
      <h1><%=@event.moderators.count%></h1> moderators
    <%end%>
  </div>
  <div class="col-sm-6">
    <h1><%=@event.comments.count%></h1> comments
    <div id="comments_chart"></div>
  </div>
</div>
<hr />

<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawCharts);
      function drawCharts() {
        var data = google.visualization.arrayToDataTable([<%=to_json_table(@event, @event.registrations,'created_at')%>]);

        var options = {

        };

        var registrations_chart = new google.visualization.LineChart(document.getElementById('registrations_chart'));

        registrations_chart.draw(data, options);

        data = google.visualization.arrayToDataTable([<%=to_json_table(@event, @event.projects,'created_at')%>]);

        var projects_chart = new google.visualization.LineChart(document.getElementById('projects_chart'));

        projects_chart.draw(data, options);

        data = google.visualization.arrayToDataTable([<%=to_json_table(@event, @event.ratings,'project_ratings.created_at')%>]);

        var ratings_chart = new google.visualization.LineChart(document.getElementById('ratings_chart'));

        ratings_chart.draw(data, options);

        data = google.visualization.arrayToDataTable([<%=to_json_table(@event, @event.volunteers,'project_volunteers.created_at')%>]);

        var volunteers_chart = new google.visualization.LineChart(document.getElementById('volunteers_chart'));

        volunteers_chart.draw(data, options);

        data = google.visualization.arrayToDataTable([<%=to_json_table(@event, @event.comments,'project_comments.created_at')%>]);

        var comments_chart = new google.visualization.LineChart(document.getElementById('comments_chart'));

        comments_chart.draw(data, options);
  }
</script>
