<h1>Invitations for <%=@event.name%></h1>

<%=semantic_form_for @inviter, url: admin_event_invitations_path do |f| %>
<%=f.input :user_ids, label: "Users", as: :select, collection: @users, multiple: true %>
  <%=f.input :emails, label: "Emails", hint: "Type or paste a list of comma seperate email addresses to invite" %>

  <%= f.actions do %>
    <%= f.action :submit, label: "Send Invitations", button_html: { class: "btn btn-success" } %>
  <% end %>
<% end %>

<br />

<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <th>Email/User</th>
    <th>Token</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @invitations.each do |invitation| %>
    <tr>
      <td><%= invitation.to %></td>
      <td><%= invitation.token %></td>
      <td><%= invitation.status %></td>
    </tr>
    <%end%>
  </tbody>
</table>

<script type="text/javascript">
  $('#mass_event_invitation_user_ids').selectize();
</script>
