<%content_for(:title, "#{@project.event.title} #{@project.title} presentation")%>
<div class="reveal" ng-app='app.presentationApp' ng-controller='PresentationCtrl'>
  <div class="slides">
    <%= render partial: "slide_footer" %>
    <section>
      <h2>{{ presentation.title }}</h2>
      <% unless @presentation.published? %>
      <div ng-click="editPresentation(presentation, 'title')">(click to edit)</div>
      <% end %>
    </section>
    <section>
      <h2>WHO worked on the project?</h2>
      <div class="clearfix">
      <%@project.volunteers.each_with_index do |v, i| %>
        <div class='user_badge' style= "float: left; width: 150px; padding: 5px;">
          <%=link_to user_path(v.user) do%>
            <%=image_tag v.user_image, alt: v.user_name, width: 50, height: 50, title: v.user_name%>
            <p style="font-size: 20px"><%=v.user_name%></p>
          <%end%>
        </div>
        <% if i > 0 && i % 5 == 0%>
        <p class="clearfix"> </p>
        <% end %>
      <% end %>
      </div>
    </section>
    
    <section>
      <h2>WHY did we do this project?</h2>
      <div ng-click="editPresentation(presentation, 'why')">
        <md ng-model="presentation.why || defaultText">
      </div>
    </section>
    
    <section>
      <h2>WHAT did we do?</h2>

      <div ng-click="editPresentation(presentation, 'what')">
        <md ng-model="presentation.what || defaultText">
      </div>
    </section>
    
    <section>
      <h2>What went RIGHT?</h2>
      <div ng-click="editPresentation(presentation, 'right')">
        <md ng-model="presentation.right || defaultText">
      </div>
    </section>

    <section>
      <h2>What went Wrong?</h2>
      <div ng-click="editPresentation(presentation, 'wrong')">
        <md ng-model="presentation.wrong || defaultText">
      </div>
    </section>

    <section>
      <h2>What are our NEXT STEPS?</h2>
      <div ng-click="editPresentation(presentation, 'next_steps')">
        <md ng-model="presentation.next_steps || defaultText">
      </div>
    </section>

    <section>
      <h2>Any questions or comments?</h2>
      <% if @next_up   %>
      <q><%=link_to "Back to all projects", event_path(@project.event)%></q>
      <% end %>
    </section>
  </div>
</div>
<script>
Reveal.initialize({
    controls: true,
    progress: true,
    slideNumber: false,
    history: false,
    keyboard: true,
    overview: true,
    center: false,
    touch: true,
    loop: false,
    rtl: false,
    fragments: true,
    embedded: false,
    help: true,
    autoSlide: 0,
    autoSlideStoppable: true,
    mouseWheel: false,
    hideAddressBar: true,
    previewLinks: false,
    transition: 'default', // none/fade/slide/convex/concave/zoom
    transitionSpeed: 'default', // default/fast/slow
    backgroundTransition: 'default', // none/fade/slide/convex/concave/zoom
    viewDistance: 3,
    parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"
    parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"
    parallaxBackgroundHorizontal: '',
    parallaxBackgroundVertical: ''

});
</script>
