<% edit ||= false %>
<% f ||= nil %>
<%content_for(:title, "#{@project.event.title} #{@project.title} presentation")%>

<div class="reveal">
  <div class="slides">
    <section>
      <h1><%=@project.title%></h1>
      <%= render partial: "slide_footer" %>
    </section>
    <section>
      <h1>WHO worked on the project?</h1>
      <div class="clearfix">
      <%@project.volunteers.each do |v| %>
        <div class='user_badge' style= "float: left; width: 150px; padding: 5px;">
          <%=link_to user_path(v.user) do%>
            <%=image_tag v.user_image, alt: v.user_name, width: 50, height: 50, title: v.user_name%>
            <p style="font-size: 20px"><%=v.user_name%></p>
          <%end%>
        </div>
      <% end %>
      </div>
      <%= render partial: "slide_footer" %>
    </section>
    
    <section>
      <%= form_for @presentation, url: project_presentation_path(@project) do |f| -%>
      <h1>WHY did we do this project?</h1>
      <% if edit %>
      <%= f.text_area :why %>
      <% else %>
      <%=@presentation.why%>
      <% end %>
      <%= render partial: "slide_footer", locals: {edit: edit, f: f} %>
      <%end%>
    </section>
    
    <section>
      <%= form_for @presentation, url: project_presentation_path(@project) do |f| -%>
      <h1>WHAT did we do?</h1>
      <% if edit %>
      <%= f.text_area :what %>
      <% else %>
      <%=@presentation.what%>
      <% end %>
      <%= render partial: "slide_footer", locals: {edit: edit, f: f} %>
      <% end %>
    </section>
    
    <section>
      <%= form_for @presentation, url: project_presentation_path(@project) do |f| -%>
        <section>
          <h1>What went RIGHT?</h1>
            <% if edit %>
            <%= f.text_area :right %>
            <% else %>
            <%=@presentation.right%>
            <% end %>
            <%= render partial: "slide_footer", locals: {edit: edit, f: f} %>
        </section>
        <section>
          <h1>What went Wrong?</h1>
            <% if edit %>
            <%= f.text_area :wrong %>
            <% else %>
            <%=@presentation.wrong%>
            <% end %>
            <%= render partial: "slide_footer", locals: {edit: edit, f: f} %>
        </section>
        <% end %>
    </section>

    <section>
      <%= form_for @presentation, url: project_presentation_path(@project) do |f| -%>
      <h1>What are our NEXT STEPS?</h1>
      <% if edit %>
      <%= f.text_area :next_steps %>
      <% else %>
      <%=@presentation.next_steps%>
      <% end %>
      <%= render partial: "slide_footer", locals: {edit: edit, f: f} %>
      <% end %>
    </section>

    <section>
      <h1>Thanks! Any questions or comments?</h1>
      <% if @next_up   %>
      <q>Next up... <%=link_to @next_up.title, project_presentation_path(@next_up)%></q>
      <% end %>
      <%= render partial: "slide_footer" %>
    </section>
  </div>
</div>
<script>
Reveal.initialize({
    controls: true,
    progress: true,
    slideNumber: false,
    history: false,
    keyboard: true,
    overview: true,
    center: true,
    touch: true,
    loop: false,
    rtl: false,
    fragments: true,
    embedded: false,
    help: true,
    autoSlide: 0,
    autoSlideStoppable: true,
    mouseWheel: false,
    hideAddressBar: true,
    previewLinks: false,
    transition: 'default', // none/fade/slide/convex/concave/zoom
    transitionSpeed: 'default', // default/fast/slow
    backgroundTransition: 'default', // none/fade/slide/convex/concave/zoom
    viewDistance: 3,
    parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"
    parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"
    parallaxBackgroundHorizontal: '',
    parallaxBackgroundVertical: ''

});
</script>
