<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %>,</p>

    <p>A new comment has been posted for <%= @project.title %>:</p>

    <p><%= sanitize @comment.description %></p>

    <p><%= link_to "Visit this project", project_url(@project) %></p>
    <p><%= link_to "Disable these emails", edit_user_url(@user) %> if you hate them</p>
</body>
</html>