<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>

    <p>
      You have successfully registered for <%= link_to @event.title, event_url(@event) %>. The event will run <%=@event.pretty_dates%>. In the mean time, you can submit, vote or volunteer for project ideas on the <%= link_to "#{@event.title} event page", event_url(@event) %>.
    </p>

    <p>We highly recommend basic <%=link_to "Git and GitHub", "http://apps.oir.umn.edu/campus_codefest/github"%> experience before the event begins. Please take a few hours to introduce yourself to these tools if you don't have previous experience with them.
    </p>

    <p>Check back to the <%= link_to "site", root_url%> for event updates and other announcements as the event approaches.</p>
    <p></p>
    <p>Thanks,</p>
    <p><%=@event.title%> Committee</p>
</body>
</html>