<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>

    <p>You have successfully registered for <%= link_to @event.title, event_url(@event) %>. The event will run <%=@event.pretty_dates%>. In the mean time, you can submit, vote, and volunteer for project ideas on the <%= link_to "#{@event.title} event page", event_url(@event, subdomain: @event.organization.subdomain) %>.</p>

    <p>Check back to the <%= link_to "site", root_url(subdomain: @event.organization.subdomain)%> for event updates, new ideas, and ongoing discussion of submitted ideas.</p>

    <h2>Get Prepped</h2>

    <p>There's no reason to wait for <%=@event.title%> to get started. If you plan to <%= link_to "volunteer on a project", event_url(@event, subdomain: @event.organization.subdomain) %>, you can start discussing the project now and asking questions. It's a good idea to do a little bit of research on the project's issue - find out why the issue exists, who's impacted, and what is already being done about it. Search the internet for tools that could be helpful to use or improve upon.</p>
    <p>It will be helpful to have a <%= link_to "Google Account", "https://myaccount.google.com/intro"%>, so you can store project documents in Google Drive. If you're a programmer, be sure you have a <%= link_to "GitHub account", "http://github.com"%> and are <%= link_to "familiar with git", "https://openhatch.org/missions/git"%>.</p> 

    <p>Looking forward to building with you,</p>
    <p>Your Friendly <%=@event.title%> Hosts</p>
</body>
</html>
