<h1>Projects for <%=@event.title%></h1>
<p><%=link_to "Back to #{@event.title} projects admin", admin_event_projects_path(@event)%></p>
<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <th>User</th>
    <th>Comment</th>
    <th>Created on</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <%@comments.each do |c|%>
    <tr>
      <td><%=c.user.email%></td>
      <td><%=Sanitize.clean(c.description, Sanitize::Config::RELAXED).html_safe%></td>
      <td><%=l c.created_at%></td>
      <td>
        <div class="btn-group">
          <%=link_to "Delete", admin_event_project_project_comment_path(@event, @project, c), :class => "btn btn-small btn-danger",
                      :confirm => "Are you certain you want to do this?", :method => :delete%>
        </div>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>