<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
    <%if @future_events.first.nil?%>
      <h1><%= APP_CONFIG["brand"]["site_name"] %></h1>
      <p><%= APP_CONFIG["brand"]["site_name"] %> is an unconference for designers, developers, sysadmins, analysts, and other interested parties who want to come together to build cool things for a couple of days.</p>
      <p>
        <%=link_to "Learn More", about_path, :class=>"btn btn-primary btn-lg"%>
      </p>
    <%else%>
    <%event = @future_events.first%>
    <h1><%=link_to event.title, event_path(event)%></h1>
    <p><%=sanitize event.description%></p>
    <p>
        This codefest runs <%=event.pretty_dates%>
    </p>
    <p>
      <%=link_to "Get involved!", event_path(event), :class=>"btn btn-success btn-lg"%>
    </p>
    <%end%>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <%if @future_events.first.nil?%>
      <h3>Upcoming Codefest</h3>
      <p>
        Check back soon, the planning for the next <%= APP_CONFIG["brand"]["site_name"] %> has not started yet.
      </p>
    <%else%>
      <h3><%= APP_CONFIG["brand"]["site_name"] %></h3>
      <p><%= APP_CONFIG["brand"]["site_name"] %> is an unconference for designers, developers, sysadmins, analysts, and other interested parties who want to come together to build cool things for a couple of days.</p>
      <p>
        <%=link_to "Learn More", about_path, :class=>"btn btn-primary"%>
      </p>
    <%end%>
  </div>
  <div class="col-sm-4">
    <h3>What is this all about?</h3>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/MDLF2_oVTus?rel=0" allowfullscreen></iframe>
      </div>
  </div>
  <div class="col-sm-4">
    <h3>We're on GitHub Enterprise</h3>
      <p>
        GitHub is a pillar of the Campus Codefest. Check out our organization,
        <%=link_to 'https://github.umn.edu/organizations/ccf', "https://github.umn.edu/organizations/ccf"%>, install Git (Mac|Linux|Windows) on your Workstation and learn as much about
        git as possible before attending a Codefest.
      </p>
  </div>
</div>
