<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1><%=brand_name%> <i class="fa fa-users"> </i></h1>
      <p>
        Planning collaborative events is hard. Let us help.
      </p>

      <p>
        <%=link_to new_organization_path, class: "btn btn-lg btn-success" do %> <i class="fa fa-users"></i> Create an Organization <% end %>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h3><i class="fa fa-users"></i>Organizations</h3>
    <p>Manage all of your users and events under a single organization with <%=brand_name%>. We offer a variety of organization-wide administrative features and privacy settings. Want to host a private event on <%=brand_name%> for your comapany? Done. Want to restrict membership to your organization to anyone with your university email address? Done. Don't just build a company, build a community with <%=brand_name%> organizations.
  </div>

  <div class="col-xs-12 col-md-6">
    <h3><i class="fa fa-calendar"></i> Events</h3>
    <p>A <%=brand_name%> event might be an unconference, a hackathon, or even a retreat. Plan unlimited events for your community. Collect registration, ideas, and community input leading up to the event. Post a schedule and other event details</p>
  </div>

  <div class="col-xs-12 col-md-6">
    <h3><i class="fa fa-lightbulb-o"></i> Ideas</h3>
    <p>After creating an event, any community member in your organanization can submit a project idea to it. They do not have to champion the idea, be an expert, or even want to pursue their ideas. Simply posting the idea offers everyone the chance to help shape it and to identify areas for collaboration.</p>
  </div>

  <div class="col-xs-12 col-md-6">
    <h3><i class="fa fa-thumbs-o-up"></i> Community Input</h3>
    <p>Encourage your members to vote, volunteer, and comment on projects prior to an event. Providing an avenue for communiy feedback serves to refine or expand project ideas, identify opportunities for collaboration, and generates moementum for your event.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h3><i class="fa fa-paper-plane-o"></i> Invitations</h3>
    <p>To get people excited about your event you can invite existing organizations members or past event attendees or simply send email invitations to anyone.</p>
  </div>

  <div class="col-xs-12 col-md-6">
    <h3><i class="fa fa-plus-square"></i> Registrations</h3>
    <p>Want to know who is coming? Have a maximum capacity for your event space? We have you covered with event registration limits and public registration attendee lists. We also provide you with administrative interfaces to manage attendees.</p>
  </div>

  <div class="col-xs-12 col-md-6">
    <h3><i class="fa fa-slack"></i> Engagement</h3>
    <p>If you provide us with a <a href="https://my.slack.com/services/new/incoming-webhook">Slack webhook</a>, we will give you organization-wide updates for ideas, votes, volunteers, and comments posted to your events to your designated slack account. This gives your community a second opportunity to stay engaged with your event.</p>
  </div>

  <div class="col-xs-12 col-md-6">
    <h3><i class="fa fa-university"></i> Presentations</h3>
    <p>A key to an successful community driven event is presenting what you learned during the event. We provide a simple, no frills interface for creating <a href="http://example.coeventer.com/projects/8-another-project/presentation">impressive presentations</a> in no time. Our markdown and Reveal.js presentation framework keeps your members collaborating instead of scrambling to share.</p>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-xs-6">
    <h3>Create a Community</h3>
    <p>
      You only need to sign-in with an Google Account to create an organization. Once signed in, you can instantly get started with <%=brand_name%> in a private organization and a step-by-step wizard will guide you around. You can go public once you are ready to rock!
    </p>

    <p>
      <%=link_to new_organization_path, class: "btn btn-lg btn-success" do %> <i class="fa fa-users"></i> Create an Organization <% end %>
    </p>
  </div>

  <div class="col-xs-6">
    <h3>Participate in an Community</h3>
    <p>
      You can browse our <%=link_to "public organizations", organizations_path%> to look for places in your area to get started. <%=brand_name%> is a free tool, so feel free to kick the tires and consider pulling together your own community and getting to work right now!
    </p>

    <p>

    </p>
  </div>
</div>

<hr />

<div class="row">
  <h2>What... Why?!?</h2>
  <div class="col-xs-12 col-md-6" style="text-align: center">
    <p>
      <img src="https://lh4.googleusercontent.com/-cFXTYV_IvbQ/VGLbtQVvDaI/AAAAAAAAI2w/QjVioo8jHs0/w1270-h1278-no/IMG_20140927_100615.jpg" height="250" width="250" class="img-circle"></img>
    </p>
    <p>
      Chad Fennell
  </div>

  <div class="col-xs-12 col-md-6" style="text-align: center">
    <p>
      <img src="https://lh3.googleusercontent.com/-vAheDNfiXXw/VCAu_1p0nyI/AAAAAAAAACA/A1JQtVruZuc/w1280-h1278-no/IMG_0284.jpg" height="250" width="250" class="img-circle"></img>
    </p>
    <p>
      <a href="pete2786.github.io">David Peterson</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>
      The CoEventer idea originated with Chad and Dave, both staff at the University of Minnesota, in 2013. We wanted to fire up the University developer community and begin solidifying working relationships accross our many departments. The end result was Campus Codefest 2013. After the first event, we learned what event planning, idea collecting, and other related tools were missing for such events and Dave decided to start filling in the gaps. Two years later, we are releasing CoEventer.
    </p>

    <p>
      A short video was produced during this first event, which provides a great idea of the appeal of one of these events:

      <p style="text-align: center;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MDLF2_oVTus" frameborder="0" allowfullscreen></iframe>
      </p>
    </p>

    <p>
      The CoEventer application is an open source project. A number of individuals have contributed, including those who participated in Campus Codefest. Feel free to provide feedback on our GitHub project.
    </p>

    <p>
      <iframe src="https://ghbtns.com/github-btn.html?user=campuscodefest&repo=ccf&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    </p>

  </div>
</div>
