<% if @event.registration_enabled?%>
<div class="well well-sm">
  <h4>Registration</h4>
    <% if !current_user.nil? && current_organization.verified?(current_user) && @event.registered?(current_user)%>
      <p>
        <%=link_to event_event_registration_path(@event, @registration), :class => "btn btn-danger",  :method => :delete do%>
        <span class="fa fa-play-circle"></span> Unregister
        <%end%>
      </p>
    <%else%>
      <p>
        <%=link_to new_event_event_registration_path(@event), :class => "btn btn-success" do%>
          <span class="fa fa-play-circle"></span> Register Now
        <%end%>
      </p>
      <p>
      Register by <%=l @event.registration_end_dt, format: :long%>.
      </p>
    <%end%>
    <p>
    <em><%=@event.registrations_remaining%> of <%=@event.registration_maximum%> spots remain. </em>
    </p>
</div>
<%end%>