<ol class="breadcrumb">
  <li><%=link_to 'Home', root_path %></li>
  <li class="active"><%=@event.title%></li>
</ol>

<div class="row">
  <div class="col-sm-9">
    <h1 class="event-title"><%=@event.title%></h1>
    <% if @event.event_logo_url %><p><%=image_tag @event.event_logo_url.to_s%></p><%end%>
    <p class="text-muted"><%=@event.pretty_dates%></p>
    <p><%=sanitize @event.description%></p>
  </div>
  <div class="col-sm-3">
    <%= render :partial => "registration"%>
  </div>
</div>
<hr />

<% if can?(:create, Project) && !@event.completed? then %>
    <h3>Submit an Idea</h3>
    <%= render partial: "projects/pretty_form" %>
<%elsif !@event.completed?%>
<p><%=link_to "Sign in to submit a project idea", signin_path, :class => "btn btn-success btn-lg"%></p>
<%end%>
<hr />
<div class="row">
  <div class="col-sm-9">
    <h3>Proposed Project Ideas</h3>
    <%= render partial: "projects/project_list" %>
  </div>

  <div class="col-sm-3">
    <div class="well well-sm">
      <h4>Schedule</h4>
      <p><%=sanitize @event.schedule%></p>
    </div>

    <%if !@event.other_info.blank?%>
      <div class="well well-sm">
        <h4>Other event info</h4>
        <p><%=sanitize @event.try(:other_info)%></p>
      </div>
    <%end%>

    <div class="well well-sm">
      <h4>Who's attending</h4>
      <p>
        <div class="btn-group">
          <a href="#" class="btn btn-sm btn-default" onclick="$('#attending_names').hide(); $('#attending_avatars').show(); return false;">Avatars</a>
          <a href="#" class="btn btn-sm btn-default"  onclick="$('#attending_names').show(); $('#attending_avatars').hide(); return false;">Names</a>
        </div>
      </p>

      <div id="attending_avatars">
        <%@event.registrations.each do |r|%>
          <div class='user_badge'>
          <%=link_to user_path(r.user) do%>
            <%=image_tag r.user.image, alt: r.user.label, width: 40, height: 40, title: r.user.label, class: 'has-tooltip' %>
          <%end%>
          </div>
        <%end%>
        <div class="clearfix"></div>
      </div>
      <div id="attending_names" style="display:none;">
        <ul>
          <% @event.registrations.each do |r|%>
          <li><%=link_to r.user.label, user_path(r.user)%></li>
          <%end%>
        </ul>
      </div>

    </div>
  </div>
</div>
