<p id="notice"><%= notice %></p>
<h1><%=@event.title%></h1>
<p class="well well-small">
  <% if @event.registered?(current_user)%>
    You have registered! 
  <%else%>
    <%=link_to new_event_event_registration_path(@event), :class => "btn btn-success" do%>
    <i class="icon-play-circle"></i> Register Now
    <%end%>
    Register by <%=l @event.registration_end_dt%>. 
  <%end%>
  <%=@event.registrations_remaining%> of <%=@event.registration_maximum%> spots remain. 
</p>
<p><%=@event.description%></p>
<hr />
<% if @event.voting_enabled?%>
<%=semantic_form_for @new_project do |f| -%>
  <%=f.text_field :title, :style => "width: 80%;", :placeholder => "Submit your idea for #{@event.title}"%>
  <div id="project_details" style="display: none;">
  <%=f.input :classification, :as => :radio, :collection => Project::CLASSIFICATIONS, :include_blank => false%>
  <%=f.text_area :description, :style => "width: 80%; height: 100px;", :placeholder => "Describe your idea"%>
  <%=f.input :event_id, :as => :hidden, :value => @event.id%>
  <br />
  <%=f.submit "Submit idea", :class => "btn" %> or <%=link_to "Cancel", "#"%>

<script type="text/javascript">
  $(document).ready(function(){
    $('#project_description').wysihtml5();
  })
</script>  
</div>  
<%end%>
<%end%>
<hr />
<h3>Proposed project ideas</h4>
<%@event.projects.each do |project|%>
  <%=render :partial => "projects/project", :locals => {:project=> project, :truncate => true, :show_comments => false}%>
<%end%>
<script type="text/javascript">
  $("#project_title").keyup(function(e){
    if($("#project_title").val().length > 0)
      $("#project_details").fadeIn();
    else
      $("#project_details").fadeOut();
  });
</script>
