<ol class="breadcrumb">
  <li><%=link_to 'Home', root_path %> /</li>
  <li class="active"><%=@event.title%></li>
</ol>

<p id="notice"><%= notice %></p>
<h1><%=@event.title%></h1>
<p><%=@event.pretty_dates%></p>
<p><%=@event.description%></p>
<div class="hidden-desktop">
<%= render :partial => "registration"%>
</div>
<hr />

<% if can? :create, Project then %>
    <h3>Submit an idea</h3>
   <%=semantic_form_for @new_project do |f| -%>
    <%=f.text_field :title, :style => "width: 80%;", :placeholder => "Submit your idea for #{@event.title}"%>
    <div id="project_details" style="display: none;">
    <%=f.input :description, :as => :text, :input_html => {:style => "width: 80%; height: 100px;"}, :placeholder => "Describe your idea"%>
    <%=f.input :event_id, :as => :hidden, :value => @event.id%>
    <%=f.input :repository%>  
    <br />
    <%=f.submit "Submit idea", :class => "btn" %> or <%=link_to "Cancel", event_path(@event)%>

    <script type="text/javascript">
      //$(document).ready(function(){
        $('#project_description').wysihtml5();
      //s})
    </script>  
    </div>  
  <%end%>
<%else%>
<p><%=link_to "Sign in to submit a project idea", new_session_path, :class => "btn btn-success btn-large"%></p>
<%end%>
<hr />
<div class="row-fluid">
  <div class="span9">
    <h3>Proposed project ideas</h3>
    <div class="btn-group">
      <button class="btn">Sort by</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!-- dropdown menu links -->
        <li><%=link_to "Date submitted", event_path(@event, :sort => "created_at")%></li>
        <li><%=link_to "Likes", event_path(@event, :sort => "likes")%></li>
        <li><%=link_to "Helpers", event_path(@event, :sort => "helpers")%></li>
        <li><%=link_to "Comments", event_path(@event, :sort => "comments")%></li>
        <li><%=link_to "Selected for event", event_path(@event, :sort => "approved desc")%></li>
      </ul>
    </div>
    <%@projects.each do |project|%>
      <%=render :partial => "projects/project", :locals => {:project=> project, :truncate => true, :show_comments => false}%>
    <%end%>
  </div>

  <div class="span3">
    <%= render :partial => "registration"%>
    <div class="well well-small">
      <h4>Schedule</h4>
      <p><%=@event.schedule%></p>
    </div>

    <div class="well well-small">
      <h4>Other event info</h4>
      <p><%=@event.try(:other_info)%></p>
    </div>

    <div class="well well-small">
      <h4>Who's attending</h4>
      <p>
        <div class="btn-group">
          <a href="#" class="btn btn-small" onclick="$('#attending_names').hide(); $('#attending_avatars').show(); return false;">Avatars</a>
          <a href="#" class="btn btn-small"  onclick="$('#attending_names').show(); $('#attending_avatars').hide(); return false;">Names</a>
        </div>
      </p>

      <div id="attending_avatars">
        <%@event.registrations.each do |r|%>
          <span class='user_badge'>
          <%=link_to user_path(r.user) do%>
            <%=image_tag r.user.image, alt: r.user.name, width: 40, height: 40, title: r.user.name%>
          <%end%>
          </span>
        <%end%>
      </div>
      <div id="attending_names" style="display:none;">
        <ul>
          <% @event.registrations.each do |registration|%>
          <li><%=registration.user.name%></li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#project_title").keyup(function(e){
    if($("#project_title").val().length > 0)
      $("#project_details").fadeIn();
    else
      $("#project_details").fadeOut();
  });
</script>
