<%=semantic_form_for @project do |f| -%>
  <%=f.text_field :title, :class => "form-control", :style => "width: 80%;"%>
  <div id="project_details">
  <%=f.input :description, :as => :text, :input_html => {:style => "width: 80%; height: 100px;"}, :placeholder => "Describe your idea"%>
  <%=f.input :event_id, :as => :hidden, :value => @project.event_id%>
  <%=f.input :repository, :class => "form-control" %>
  <br />
  <%=f.submit "Submit idea", :class => "btn btn-primary" %>
  <%=link_to "Cancel", event_path(@project.event), :class => "btn btn-link" %>

  <script type="text/javascript">
    //$(document).ready(function(){
      $('#project_description').wysihtml5();
    //s})
  </script>
  </div>
<%end%>