<%=semantic_form_for @project do |f| -%>
  <%=f.text_field :title, :class => "form-control", :style => "width: 80%;"%>
  <% if @project.event_id %>
  <%=f.input :project_owner, as: :select, :class => "form-control", :style => "width: 80%;", collection: @project.event.event_registrations.map(&:user)%>
  <% end %>
  <div id="project_details">
  <%=f.input :description, :as => :text, :input_html => {:style => "width: 80%; height: 100px;"}, :placeholder => "Describe your idea"%>
  <% if @project.event_id %>
  <%=f.input :event_id, :as => :hidden, :value => @project.event_id%>
  <%elsif @events.try(:any?) %>
  <%=f.input :event_id, :as => :select, :collection => @events, :label => "Assign to an event" %>
  <%end%>
  <%=f.input :repository, :class => "form-control", :placeholder => "https://github.com/example/example" %>
  <br />
  <%=f.submit "Submit idea", :class => "btn btn-primary" %>
  <%=link_to "Cancel", (@project.event.nil? ? projects_path : event_path(@project.event)), :class => "btn btn-link" %>
  </div>
<%end%>
