 <%=semantic_form_for @new_project do |f| -%>
  <%=f.text_field :title, :placeholder => "Submit your idea #{@event.nil? ? '' : 'for ' + @event.title}", :class => "tour-first-step form-control"%>
  <div id="project_details" style="display: none;">
  <%=f.input :description, :as => :text, :input_html => {:style => "width: 80%; height: 100px;"}, :placeholder => "Describe your idea"%>
  <% if !@event.nil? %>
  <%=f.input :event_id, :as => :hidden, :value => @event.id%>
  <% end %>
  <%=f.input :repository%>
  <br />
  <%=f.submit "Submit idea", :class => "btn btn-primary" %> or 

  <%=link_to "Cancel", (@event.nil? ? projects_path : event_path(@event))%>

  <script type="text/javascript">
    //$(document).ready(function(){
      $('#project_description').wysihtml5();
      $("#project_title").keyup(function(e){
        if($("#project_title").val().length > 0)
          $("#project_details").fadeIn();
        else
          $("#project_details").fadeOut();
      });
    //s})
  </script>
  </div>
<%end%>