<div class="row-fluid">
  <div class="span2">
    <br />
    <div id="vote_container_<%=project.id%>">
    <%=render :partial => "projects/vote", :locals => {project: project}%>
    </div>    
    <div id="volunteer_container_<%=project.id%>">
    <%=render :partial => "projects/volunteer", :locals => {project: project}%>
    </div>
     <%if !show_comments%>
    <p><%=link_to project_path(project), :style => "color: white;" do%><span class="badge"><%=project.comment_count%></span><%end%> comments</p>
    <%end%>
  </div>
  <div class="span10">
    <h4><%=link_to project.title, project_path(project)%></h4>
    <%if truncate%>
    <p><%=truncate Sanitize.clean(project.description, Sanitize::Config::RELAXED).html_safe, :length => 200%></p>
    <%else%>
    <%=Sanitize.clean(project.description, Sanitize::Config::RELAXED).html_safe%>
    <%end%>
    <br />
    <br />
        
    <p>Volunteers:  
    <%if project.volunteers.blank?%>
      <span>None</span>
    <%else%>
      <%project.volunteers.each do |v|%>
        <span class='volunteer_badge'>
        <%=link_to user_path(v.user) do%>
          <%=image_tag v.user.image, alt: v.user.name, width: 20, height: 20, title: v.user.name%>
        <%end%>
      <%end%>
    <%end%>
    </p>

    <%if !project.repository.nil? %>
    <p>Repository: <%=link_to project.repository, project.repository%></p>
    <%end%>

    <%if show_comments && can?(:create, project.comments.new) then %>
      <hr />
      <div id="comment_container_<%=project.id%>">
      <%=render :partial => "project_comments/comments", :locals => {project: project, comment: project.comments.new}%>
      </div>
    <%end%>
  </div>
</div>
<hr />