<div class="row-fluid">
  <div class="span2">
    <br />

    <div id="vote_container_<%=project.id%>">
    <%=render :partial => "projects/vote", :locals => {project: project}%>
    </div>    
    <div id="volunteer_container_<%=project.id%>">
    <%=render :partial => "projects/volunteer", :locals => {project: project}%>
    </div>
     <%if !show_comments%>
    <p><%=link_to project_path(project), :style => "color: white;" do%><span class="badge"><%=project.comment_count%></span><%end%> comments</p>
    <%end%>

  </div>

  <div class="span10">
    <%if can? :edit, project then%>
      <p <%=sanitize 'class="pull-right"' if truncate %>>
        <%=link_to edit_project_path(project), :class=>"btn btn-small" do%>
          <i class="icon-edit"></i> Edit project
        <%end%>
      </p>
    <%end%>
    <h4><%=link_to project.title, project_path(project)%></h4>
    <%=render :partial => "projects/project_owner", :locals => {owner: project.project_owner, project: project}%>
    
    <%if truncate%>
    <p><%=truncate strip_tags(project.description).html_safe, :length => 200%></p>
    <%else%>
    <%=Sanitize.clean(project.description, Sanitize::Config::RELAXED).html_safe%>
    <%end%>
        
    <p>Volunteers:</p>
    <%if project.volunteers.blank?%>
      <span>None</span>
    <%else%>
    <div class="volunteers_container">
      <%project.volunteers.each do |v|%>
        <div class='user_badge'>
        <%=link_to user_path(v.user) do%>
          <%=image_tag v.user.image, alt: v.user.name, width: 40, height: 40, title: v.user.name%>
        <%end%>
        </div>
      <%end%>
      <div class="clearfix"></div>
    </div>
    <%end%>
    <%if !project.repository.nil? %>
    <p>Repository: <%=link_to project.repository, project.repository%></p>
    <%end%>

    <%if show_comments then %>
      <hr />
      <div id="comment_container_<%=project.id%>">
      <%=render :partial => "project_comments/comments", :locals => {project: project, comment: project.comments.new}%>
      </div>
    <%end%>
  </div>
</div>
<hr style="border-top: 2px solid #CCC; margin: 10px 0px;"/>