<div class="row">
  <div class="col-md-2">
    <div id="vote_container_<%=project.id%>" class="vote_container">
    <%=render :partial => "projects/vote", :locals => {project: project}%>
    </div>
    <% unless @event.nil? && project.event.nil? %>
    <div id="volunteer_container_<%=project.id%>" class="volunteer_container">
    <%=render :partial => "projects/volunteer", :locals => {project: project}%>
    </div>
    <%end%>
    <%if !show_comments%>
      <p><%=link_to project_path(project), :style => "color: white;" do%><span class="badge"><%=project.comment_count%></span>
      <%end%> comments</p>
    <%end%>

    <% unless @event.nil? && project.event.nil? %>
      <% if can?(:edit, project.presentation) || project.presentation.published %>
      <p>
        <%=link_to project_presentation_path(project), class: "btn btn-primary" do%>
          <i class="fa fa-play"></i> Presentation
        <% end %>
      </p>
      <% elsif %>
      <a href="#" class="btn btn-primary" disabled="disabled"><i class="fa fa-play"></i> Presentation</a>
      <% end %>
    <% end %>

  </div>

  <div class="col-md-10">
    <% if can? :edit, project then %>
      <p <%=sanitize 'class="pull-right"' if truncate %>>
        <%=link_to edit_project_path(project), :class=>"btn btn-sm btn-default" do%>
          <span class="fa fa-edit"></span> Edit project
        <%end%>
      </p>
    <%end%>
    <h4><%=link_to project.title, project_path(project)%></h4>
    <%=render :partial => "projects/project_owner", :locals => {owner: project.project_owner, project: project}%>

    <% if truncate %>
    <p><%=truncate strip_tags(project.description).html_safe, :length => 200%></p>
    <% else %>
    <%=Sanitize.clean(project.description, Sanitize::Config::RELAXED).html_safe%>
    <%end%>

    <% unless project.volunteers.blank? %>
    <div class="volunteers_container">
      <p>Volunteers:</p>
      <%project.volunteers.each do |v|%>
        <div class='user_badge'>
        <%=link_to user_path(v.user) do%>
          <%=image_tag v.user.image, alt: v.user.name, width: 40, height: 40, title: v.user.name%>
        <%end%>
        </div>
      <%end%>
      <div class="clearfix"></div>
    </div>
    <%end%>
    <% if project.repository %>
      <p><span class="fa fa-lg fa-github"></span> <%=link_to project.repository, project.repository%></p>
    <%end%>

    <%if show_comments then %>
      <hr />
      <div id="comment_container_<%=project.id%>">
      <%=render :partial => "project_comments/comments", :locals => {project: project, comment: project.comments.new}%>
      </div>
    <%end%>
  </div>
</div>
