<% options = { method: :post, remote: true, class: "btn btn-xs " } %>
<% if project.voting_allowed? && current_user && current_organization.verified?(current_user) %>
  <% options[:class] += project.voted_on?(current_user) ? "btn-info" : "btn-default" %>
<% else %>
  <% options[:class] += "btn-default" %>
  <% options[:disabled] = "disabled" %>
<% end %>

<span class="badge badge-info" id="popover-likes-<%=project.id%>"><%=project.project_ratings_count%></span>
<%=link_to rate_project_path(project), options do%>
  <span class="fa fa-thumbs-up"></span> Like
<% end %>

<% unless project.event.try(:anonymous_social) %>
<script>
$('#popover-likes-<%=project.id%>').popover({
  content: "Liked by: <%=project.ratings.flat_map(&:user).map(&:name).join(', ')%>",
  placement: "auto",
  trigger: "hover click"
})
</script>
<% end %>
