<%content_for(:title, "#{@project.event.title} #{@project.title} presentation")%>
<div id="bored" class="step slide" data-x="-1000" data-y="-1500">
    <q class="prez-title"><%=@project.title%></q>
    <%= render partial: "logo" %>
</div>

<div class="step slide" data-x="0" data-y="-1500">
    <q>WHO worked on the project?</q>
    <%= render partial: "logo" %>
</div>

<div class="step slide" data-x="1000" data-y="-1500">
    <q>WHY did we do this project?</q>
    <%= render partial: "logo" %>
</div>

<div class="step slide" data-x="2000" data-y="-1500">
    <q>WHAT did we do?</q>
    <%= render partial: "logo" %>
</div>

<div class="step slide" data-x="3000" data-y="-1500">
    <q>What went RIGHT? What went WRONG?</q>
    <%= render partial: "logo" %>
</div>

<div class="step slide" data-x="4000" data-y="-1500">
    <q>What are our NEXT STEPS?</q>
    <%= render partial: "logo" %>
</div>

<div class="step slide" data-x="5000" data-y="-1500">
    <q>Thanks!</q>
    <%= render partial: "logo" %>
</div>

<% if @next_up %>
<div class="step slide" data-x="6000" data-y="-1500">
    <q>Next up... <%=link_to @next_up.title, present_project_path(@next_up)%></q>
    <%= render partial: "logo" %>
</div>
<% end %>