<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li><%=link_to 'Home', root_path %></li>
  <%if !@project.event.nil?%>
  <li><%=link_to "#{@project.event.title}", event_path(@project.event) %></li>
  <%else %>
  <li><%=link_to "Project Backlog", projects_path%></li>
  <% end %>
  <li class="active"><%=@project.title%></li>
</ol>
<%else%>

<%=render :partial => "projects/project", :locals => {:project => @project, :truncate => false, :show_comments => true}%>