<h1>Invitations for <%=current_organization.name%></h1>
<p>Invite people to join via their email address.</p>
<%=semantic_form_for @inviter, url: admin_organization_invitations_path do |f| %>
  <%=f.input :emails, label: "Emails", hint: "Type or paste a list of comma seperate email addresses to invite" %>

  <%= f.actions do %>
    <%= f.action :submit, label: "Send Invitations", button_html: { class: "btn btn-success" } %>
  <% end %>
<% end %>

<br />

<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <th>Email/User</th>
    <th>Token</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @invitations.each do |invitation| %>
    <tr>
      <td><%= invitation.to %></td>
      <td><%= invitation.token %></td>
      <td><%= invitation.status %></td>
    </tr>
    <%end%>
  </tbody>
</table>
