<p>This interface allows you to manage <%= APP_CONFIG['brand']['site_name'] %> events, manage other admins, moderate your event and manage your organization.</p>
<hr />

<h2>Upcoming Events</h2>
<% if @event %>
<h3><%=link_to @event.title, admin_event_path(@event)%></h3>
<p><%=@event.pretty_dates%></p>
<p>
  <%=link_to "Edit", edit_admin_event_path(@event), :class => "btn btn-sm btn-default" %>
</p>
<% else %>
<p>You do not have any upcoming events, do you want to start planning one?</p>
<p><%=link_to new_admin_event_path, :class => "btn btn-lg btn-success" do%>
<i class="fa fa-calendar"></i> Create an event
<% end %></p>
<%end%>
<hr />

<h2>Users</h2>
<ul>
  <li><%=current_organization.users.count%> users have joined your organization.</li>
  <% if current_organization.users.unverified.count > 0%>
  <li><%=current_organization.users.unverified.count%> users have requested to join, but need to be <%=link_to "manually verified", admin_users_path(unverified: "1")%>. These users cannot do anything until they have been verified.
  </li>
  <% end %>
</ul>
 
<hr />

<h2>Ideas</h2>
<p>If you have no upcoming event, your organization's users can still submit ideas to the backlog. These can be ideas assigned to future events.

