<h1><%=current_organization.name%> administrator interface</h1>
<p>This interface allows you to manage <%= APP_CONFIG['brand']['site_name'] %> events, manage other admins, moderate your event and manage your organization.</p>
<hr />
<p ><%=link_to new_admin_event_path, :class => "btn btn-lg btn-success" do%>
Create an event
<% end %></p>
<div class="well">
<ul>
  <li>
    <%=link_to "Change organization details", edit_admin_organization_path%>
  </li>
  <li>
    <%=link_to "Create/Manage events", admin_events_path %>
  </li>
  <li>
    <%=link_to "Manage project backlog", admin_projects_path%>
  </li>
  <li>
    <%=link_to "Manage organization users", admin_users_path%>
  </li>
</ul>
</div>
