<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
    <%if @future_events.first.nil?%>
      <h1><%=brand_name%></h1>
      <p><%=brand_name%> is an unconference for designers, developers, sysadmins and other interested parties in the <%=current_organization.name%> community who want to come together to hack on cool projects for a couple of days.</p>
      <p>
        <%=link_to "Learn More", about_path, :class=>"btn btn-primary btn-lg"%>
      </p>
    <%else%>
    <%event = @future_events.first%>
    <h1><%=link_to event.title, event_path(event)%></h1>
    <p><%=sanitize event.description%></p>
    <p>
        This event runs <%=event.pretty_dates%>
    </p>
    <p>
      <%=link_to "Get involved!", event_path(event), :class=>"btn btn-success btn-lg"%>
    </p>
    <%end%>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <%if @future_events.first.nil?%>
      <h3>Upcoming Event</h3>
      <p>
        Check back soon, the planning for the next <%=brand_name%> has not started yet.
      </p>
    <%else%>
      <h3><%=brand_name%></h3>
      <p><%=brand_name%> is an unconference for designers, developers, sysadmins and other interested parties in the <%=current_organization.name%> community who want to come together to code for a couple of days.</p>
      <p>
        <%=link_to "Learn More", about_path, :class=>"btn btn-primary"%>
      </p>
    <%end%>
  </div>
  <div class="col-xs-4">
    <h3>What is this all about?</h3>
      <p>
        <iframe width="360" height="200" src="//www.youtube.com/embed/MDLF2_oVTus?rel=0" frameborder="0" allowfullscreen></iframe>
      </p>
  </div>
  <div class="col-xs-4">
    <h3>We're on GitHub</h3>
      <p>
        GitHub is a pillar of the <%=brand_name%>. Check out Github,
        <%=link_to 'http://github.com', 'http://github.com'%>, install Git (Mac|Linux|Windows) on your Workstation and learn as much about git as possible before attending an event.
      </p>
  </div>
</div>
