<ol class="breadcrumb">
  <li><%=link_to 'Home', root_path %></li>
  <li><%=link_to "#{@event.title}", event_path(@event) %></li>
</ol>
<% if Time.zone.now < @event.start_date %>
<h1><%=((@event.start_date - Time.zone.now)).to_i/(60*60*24)%> days until <%=@event.title%></h1>
<% elsif Time.zone.now <= @event.end_date%>
<h1><%=((@event.end_date - Time.zone.now)).to_i/(60*60)%> hours remain in <%=@event.title%></h1>
<% else %>
<h1><%=@event.title%> post-mortum dashboard</h1>
<% end %>
<div class="row">
  <div class="col-md-9">
    <% if @event.event_logo_url %><p><%=image_tag @event.event_logo_url.to_s%></p><%end%>
    <p class="info"><%=@event.title%> has <%=@event.projects.count%> projects with <%=@event.comments.count%> comments, <%=@event.vote_count%> likes and <%=@event.volunteer_count%> volunteers. <%=@event.event_registrations.count%> people have registered.</p>
    <hr />
    <% if can?(:create, @event.event_comments.new) %>
      <%=semantic_form_for @event.event_comments.new, :url => event_event_comments_path(@event), :remote => true do |f| %>
        <%=f.input :description, :label => false, :as => :string, :placeholder => "Add to the comment stream"%>
        <%=f.submit "Add comment", :class => "btn btn-sm btn-default"%>
      <% end %>
    <% end %>
    <hr />
    <div id="comment_container">
      <%=render partial:"shared/comment_stream", locals: {comments: @event.event_comments} %>
    </div>
  </div>
  <div class="col-md-3">
    <h2 style="margin-top: 0;">Recent Activity</h2>
    <div class="well well-small">
      <ul style="padding-left: 10px;">
        <%@recent_activities.each do |ra| %>
          <li><%=link_to ra.user_name, user_path(ra.user_id)%> <%=ra.action%> <%=link_to ra.title, project_path(ra.project_id)%></li>
        <% end %>
      </ul>
    </div>
    <hr />
    <h2>Github Feed</h2>
    <p>Not yet implemented</p>
    <hr />
    <h2>Twitter feed</h2>
    <p>Not yet implemented</p>
  </div>
</div>