<p><strong><%=project.comment_count%> comments</strong></p>
<% if can?(:create, project.comments.new) %>
<%=semantic_form_for comment, :url => project_project_comments_path(project), :remote => true do |f| %>
  <%=f.input :description, :input_html => {:style => "height: 80px; width: 100%;"}, :label => false%>
  <%=f.submit "Add Comment", :class => "btn"%>
<%end%>

<script type="text/javascript">
  //$(document).ready(function(){
    $('#project_comment_description').wysihtml5();
  //})
</script>
<%else%>
<%=link_to "Sign in to comment", new_session_path, :class => "btn"%>
<%end%>

  <div class="row-fluid comment comment">
    <div class="span12 ">
      <ul class="list-group">
        <%project.comments.reject{|c| c.new_record?}.each do |c|%>
        <li class="comment-<%= c.id %>">
            <p>
              <a name="comment-<%= c.id %>"></a>
              <%=link_to "#" do%>
                <%=image_tag c.user.image, alt: c.user.name, width: 40, height: 40, title: c.user.name%> 
                <%=c.user.name%>
              <%end%><span class="comment-time"> &#8226; <%= time_ago_in_words(c.created_at)%> ago</span>
            </p>
            <div class="comment-discussion">
              <%=Sanitize.clean(c.description, Sanitize::Config::RELAXED).html_safe%>
            </div>
            <br clear="all"/>
        </li>
        <%end%>
      </ul>
    </div>
  </div>