<p><strong><%=project.comment_count%> comments</strong></p>
<% if can?(:create, project.comments.new) %>
<%=semantic_form_for comment, :url => project_project_comments_path(project), :remote => true do |f| %>
  <%=f.input :description, :input_html => {:style => "height: 80px; width: 100%;"}, :label => false%>
  <%=f.submit "Add Comment", :class => "btn btn-sm btn-default"%>
<%end%>

<script type="text/javascript">
  //$(document).ready(function(){
    $('#project_comment_description').wysihtml5();
  //})
</script>
<%else%>
<%=link_to "Sign in to comment", signin_path, :class => "btn btn-default"%>
<%end%>

<hr />

<ul class="list-group">
  <%= render partial: "shared/comment_stream", locals: {comments: project.comments} %>
</ul>
