<div class="row">
  <div class="col-xs-10">
    <h2>
      <% if organization.organization_logo?%>
        <%= image_tag organization.organization_logo_url(:thumb).to_s%>
      <% else %>
        <i class="fa fa-users"> </i>
      <%end%>
      <%=link_to organization.name, root_url(subdomain: organization.subdomain)%>
    </h2>
    <p>Member organization since: <%=I18n.l organization.created_at, format: :date%></p>
    <p><%=organization.description%></p>
  </div>
  <div class="col-xs-2">
    <p><span class="badge"><%=organization.users.count%></span> users</p>
    <p><span class="badge"><%=organization.events.unscoped.where(organization_id: organization.id).count%></span> events</p>
    <p><span class="badge"><%=organization.projects.unscoped.where(organization_id: organization.id).count%></span> ideas</p>
  </div>
  <div class="row">
    <div class="col-xs-12"><hr /></div>
  </div>
</div>
