<div class="row">
  <div class="col-xs-12">
    <h1><%=brand_name%> Public Organizations <%=link_to new_organization_path, class: "btn btn-lg btn-success pull-right" do %> <i class="fa fa-users"></i> Create an Organization <% end %></h1>
    <p></p>
    <hr />
  </div>
</div>
<%= render partial: "organization", collection: @organizations %>
<%=will_paginate @organizations%>

<p>Want to start an event to your organzation? <%=link_to new_organization_path, class: "btn btn-lg btn-success" do %> <i class="fa fa-users"></i> Create an Organization <% end %></p>
