<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <th>User</th>
    <th>Email</th>
    <th>Projects</th>
    <th>Votes</th>
    <th>Verified</th>
    <th>Admin</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <%@users.each do |u|%>
    <% next unless u.user %>
    <tr>
      <td><%=u.user.name%></td>
      <td><%=u.user.email%></td>
      <td><%=u.user.projects.count%></td>
      <td><%=u.user.project_ratings.count%></td>
      <td>
        <% if u.verified then %>
          <span class="fa fa-check text-success"></span>
        <% else %>
          <span class="fa fa-times text-danger"></span>
        <% end %>
        <span class="sr-only"><%=u.verified%></span>
      </td>
      <td><% if u.admin then %>
          <span class="fa fa-check text-success"></span>
        <% else %>
          <span class="fa fa-times text-danger"></span>
        <% end %>
        <span class="sr-only"><%=u.admin%></span>
      </td>
      <td>
        <div class="btn-group">
          <%=link_to "Verify", verify_admin_user_path(u, params.slice(:unverified)), :class => "btn btn-sm btn-default", method: :put unless u.verified %>
          <%=link_to "Make Admin", canonize_admin_user_path(u, params.slice(:unverified)), :class => "btn btn-sm btn-default", method: :put, confirm: "Are you sure?" unless u.admin %>
        </div>
        <div class="btn-group">
          <%=link_to "Delete", admin_user_path(u), :method => :delete, :class => "btn btn-sm btn-danger", :confirm => "This will remove the user from your organization."%>
        </div>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
<%=will_paginate @users%>
