<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <th>User</th>
    <th>Email</th>
    <th>Department</th>
    <th>Projects</th>
    <th>Votes</th>
    <th>Verified</th>
    <th>Admin</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <%@users.each do |u|%>
    <tr>
      <td><%=u.name%></td>
      <td><%=u.email%></td>
      <td><%=u.department%></td>
      <td><%=u.projects.count%></td>
      <td><%=u.project_ratings.count%></td>
      <td><%=u.verified%></td>
      <td><%=u.admin%></td>
      <td>
        <div class="btn-group">
          <%=link_to "Edit", edit_admin_user_path(u), :class => "btn btn-small"%>
          <%=link_to "Delete", "#", :class => "btn btn-small btn-danger"%>
        </div>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
<%=will_paginate @users%>