<%=semantic_form_for @user, :url => admin_user_path(@user) do |f|%>
  <label>Name</label>
  <%=@user.name%>
  <label>uid</label>
  <%=@user.uid%>
  <%=f.input :department%>
  <%=f.input :admin%>
  <%=f.input :verified%>
  <%=f.action :submit, :button_html => { :value => 'Save Changes', :class => "btn btn-primary" }%>
  or <%=link_to "Cancel", admin_users_path, :class => "btn"%>
<%end%>
<hr />
