<%=semantic_form_for @user, :url => admin_user_path(@user) do |f|%>
  <label>Name</label>
  <%=@user.name%>
  <label>uid</label>
  <%=@user.uid%>
  <label>Department</label>
  <%=@user.department.blank? ? "N/A" : @user.department%>
  <%=f.input :admin%>
  <%=f.input :verified%>
  <%=f.submit%> or <%=link_to "Cancel", admin_users_path%>
<%end%>
<hr />