<h2>Manage Users</h2>
<p><%=link_to "Back to Admin", admin_root_path%></p>
<%=form_tag "search", :remote => true do%>
  <%=text_field :query, 'field', :placeholder => 'Search'%> <br />
  <%=hidden_field :query, 'unverified', :value => '0'%>
  <%=link_to "Only unverified", '#', :class => "btn btn-danger", :id => "unverified"%>
<%end%>
<div id="users_container">
  <%=render :partial => "users"%>
</div>
<script type="text/javascript">
  $("#query_field").keyup(function(){
    updateUsers();
  });

  $("#unverified").click(function(e){
    e.preventDefault();

    if ($("#query_unverified").val() === '0') {
      $("#unverified").removeClass('btn-danger').
      addClass('btn-success');
      $("#query_unverified").val('1');
    }
    else {
      $("#unverified").removeClass('btn-success').
      addClass('btn-danger');
      $("#query_unverified").val('0');
    }

    updateUsers();
  });

  function updateUsers(){
    $.get('<%=search_admin_users_path(:format => :js)%>',
    {query: $("#query_field").val(), unverified: $("#query_unverified").val()}); 
  }
</script>