<h2>Manage Users</h2>
<p><%=link_to "Back to Admin", admin_root_path%></p>
<%=form_tag "search", :remote => true do%>
  <%=text_field :query, 'field', :placeholder => 'Search'%>
<%end%>
<div id="users_container">
  <%=render :partial => "users"%>
</div>
<script type="text/javascript">
  $("#query_field").keyup(function(){
    $.get('<%=search_admin_users_path(:format => :js)%>',
    {query: $("#query_field").val()}); 
  });
</script>