<h2>Users</h2>
<div class="row">
  <div class="col-sm-8">
    <%=form_tag "search", :remote => true do%>
      <div class="form-group">
        <%=text_field :query, 'field', :placeholder => 'Search', :class => "form-control" %>
      </div>
      <%=hidden_field :query, 'unverified', :value => params[:unverified]%>
      <div class="form-group">
        <% btn_class = params[:unverified] == "1" ? "danger" : "success" %>
        <%=link_to "Only unverified", admin_users_path(unverified: params[:unverified] == "1" ? "0" : "1"), :class => "btn btn-#{btn_class}", :id => "unverified"%>
      </div>
    <%end%>
  </div>
</div>
<div id="users_container">
  <%=render :partial => "users"%>
</div>
<script type="text/javascript">
  $("#query_field").keyup(function(){
    updateUsers();
  });
  function updateUsers(){
    $.get('<%=search_admin_users_path(:format => :js)%>',
    {query: $("#query_field").val(), unverified: $("#query_unverified").val()}); 
  }
</script>
