<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Campus Codefest" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script src="http://a.umn.edu/templates/web/responsive/current/js/umnhf.js"></script>
  </head>
  <body>
    <!-- BEGIN HEADER -->
    <div class="umnhf" id="umnhf-h">
      <div class="printer"><div class="left"></div><div class="right"><strong>University of Minnesota</strong><br />http://www.umn.edu/<br />612-625-5000</div></div>
      <div class="umnhf" id="umnhf-h-cl">
        <p class="umnhf">Campuses:</p>
        <ul class="umnhf">
          <li class="umnhf"><a class="umnhf" href="http://www1.umn.edu/twincities/index.html">Twin Cities</a></li>
          <li class="umnhf"><a class="umnhf" href="http://www1.crk.umn.edu/">Crookston</a></li>
          <li class="umnhf"><a class="umnhf" href="http://www.d.umn.edu">Duluth</a></li>
          <li class="umnhf"><a class="umnhf" href="http://www.morris.umn.edu/index.php">Morris</a></li>
          <li class="umnhf"><a class="umnhf" href="http://www.r.umn.edu">Rochester</a></li>
          <li class="umnhf"><a class="umnhf" href="http://www1.umn.edu/twincities/campuses/#other-locations">Other Locations</a></li>
        </ul>
      </div>
      <div class="umnhf" id="umnhf-h-mast">
        <a class="umnhf" id="umnhf-h-logo" href="http://www1.umn.edu/twincities/"><span>Go to the U of M home page</span></a>
        <ul class="umnhf" id="umnhf-h-ql">
          <li class="umnhf" id="umnhf-h-onestop"><a href="http://onestop.umn.edu/"><span>One Stop</span></a></li>
          <li class="umnhf" id="umnhf-h-myu"><a href="https://www.myu.umn.edu/"><span>myU</span></a></li>
        </ul>
        <!--  Button below is for dropdown toggle, only visible on mobile screens. If using
              a non-dropdown version you can delete this tag -->
        <button class="umnhf" id="umnhf-m-search" href="#">Search</button>
      </div>
      <form class="umnhf" id="umnhf-h-search" action="//search.umn.edu/tc/" method="get" title="Search Websites and People">
        <label class="umnhf" for="umnhf-h-st">Search</label>
        <input class="umnhf" id="umnhf-h-st" type="text" name="q" placeholder="Search Websites and People" />
        <input class="umnhf" id="umnhf-h-sb" type="submit" value="Search" alt="Search">
      </form>
    </div>
    <!-- END HEADER -->
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%=link_to "Campus Codefest", root_path, :class => "brand"%>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                    Events
                    <b class="caret"></b>
                  </a>
                <ul class="dropdown-menu">
                  <!-- links -->
                  <li style="font-style: italic;">Upcoming</li>
                  <%@future_events.each do |e|%>
                  <li><%=link_to e.title, event_path(e)%>
                  <%end%>
                  <li style="font-style: italic;">Completed</li>
                  <%@past_events.each do |e|%>
                  <li><%=link_to e.title, event_path(e)%>
                  <%end%>                  
                </ul>
              </li>
              <li><%= link_to "About", about_path  %></li>
              <li><%= link_to "Contact", contact_path  %></li>
              <% if current_user %>
              <li class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                    <%=current_user.name%>
                    <%=image_tag current_user.image, height: 25, width: 25%>
                    <b class="caret"></b>
                  </a>
                <ul class="dropdown-menu">
                  <!-- links -->
                  <li>
                    <%= link_to user_path(current_user) do%>
                    <i class="icon-user"></i> Profile
                    <%end%>
                  </li>
                  <li>
                    <%= link_to signout_path do %>
                    <i class="icon-off"></i> Sign out
                    <%end%>
                  </li>
                  <%if current_user.admin?%>
                  <li class="divider"></li>
                  <li><%= link_to "Admin", admin_root_path%></li>
                  <%end%>
                </ul>
              </li>                
              <%end%>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
 
        <div class="span12">
          <%= bootstrap_flash %>
          <%= yield %>
          <hr />
        </div>
     
      </div><!--/row-->

      <!-- BEGIN UofM FOOTER -->
      <div id="umnhf-f" class="umnhf">
        <div id="umnhf-f-cl" class="umnhf">
          <h2 class="umnhf">Twin Cities Campus:</h2>
          <ul class="umnhf">
            <li class="umnhf"><a class="umnhf" href="http://www.umn.edu/twincities/maps/index.html">Maps&nbsp;&amp;&nbsp;Directions</a></li>
            <li class="umnhf"><a class="umnhf" href="http://www1.umn.edu/pts/">Parking&nbsp;&amp;&nbsp;Transportation</a></li>
            <li class="umnhf"><a class="umnhf" href="http://www.umn.edu/twincities/contact/">Contact&nbsp;U&nbsp;of&nbsp;M</a></li>
            <li class="umnhf"><a class="umnhf" href="http://www1.umn.edu/twincities/privacy/">Privacy</a></li>
            <li class="umnhf"><a class="umnhf" href="http://www.directory.umn.edu/">Directories</a></li>
          </ul>
        </div>
        <div id="umnhf-f-bp" class="umnhf">
          <!--  Boilerplate language. Spans in second list item control appearance
                in reduced mobile version. Yes, we know it's ugly. -->
          <ul class="umnhf">
            <li class="umnhf">&copy; 2013 Regents of the University of Minnesota. All rights reserved.</li>
            <li class="umnhf"><span class="umnhf" id="umnhf-f-fs1">The University of Minnesota is an </span><span class="umnhf" id="umnhf-f-fs2">equal</span> opportunity educator and employer. <span class="umnhf" id="umnhf-f-fs3"><a href="http://www1.umn.edu/twincities/privacy/">Privacy</a></span></li>
            <li class="umnhf" id="umnhf-f-moddate">Last modified on February 1, 2013</li>
          </ul>
        </div>
      </div>
      <!-- END UofM FOOTER -->

    </div> <!-- /container -->

  </body>
</html>
